.user-navbar img {
    height: 8vh;
}
.user-navbar-navbtn a {
    color: #A12AC2 !important;
    font-weight: bold;
}
.user-navbar{
    border-bottom: #A12AC2 solid 2px;
    
}
#user-details-on-header{
    color: #A12AC2 !important;
    font-weight: bold;
}